In [1]:
import pandas as pd

In [44]:
# Load the data from CSV file
df = pd.read_csv(r'C:\Users\yuvra\Downloads\data\data.csv')

In [45]:
# Filter data by Ticker column to include only BANKNIFTYxxxxxxxxxxCE.NFO & BANKNIFTYxxxxxxxxxxPE.NFO
df = df[df['Ticker'].str.startswith('BANKNIFTY')]

In [46]:
# Extract scrip (35000PE) from ticker and create separate column named scrip
df['scrip'] = df['Ticker'].str.extract(r'BANKNIFTY\d{2}\w{3}\d{2}(\d+.{2})\w{2}')

# Extract expiry date (03FEB22) from ticker and create separate column named expiry
df['expiry'] = df['Ticker'].str.extract(r'BANKNIFTY(\d{2}\w{3}\d{2})\d+.{2}\w{2}')

In [47]:
# Convert "Date" and "Time" columns to datetime format
df['Date'] = pd.to_datetime(df['Date'])
df['Time'] = pd.to_datetime(df['Time'], format='%H:%M:%S')

# Combine "Date" and "Time" columns into a new column named "date_time"
df['date_time'] = df['Date'].dt.strftime('%d/%m/%Y') + ' ' + df['Time'].dt.strftime('%H:%M')
df.sort_values(by='date_time', inplace=True)

In [49]:
# Calculate dte = expiry - Date
df['expiry'] = pd.to_datetime(df['expiry'], format='%d%b%y')
df['dte'] = (df['expiry'] - df['Date']).dt.days

In [50]:
# Filter data by minimum dte value
min_dte = df['dte'].min()
df = df[df['dte'] == min_dte]

In [51]:
# Remove columns: Ticker, Date, Time, Volume, Open Interest
columns_to_remove = ['Ticker', 'Date', 'Time', 'Volume', 'Open Interest']
df.drop(columns=columns_to_remove, inplace=True)

In [52]:
# Sort data by datetime
df.sort_values(by='date_time', inplace=True)

In [53]:
# Display the resulting DataFrame
print(df)

         Open    High     Low   Close  scrip     expiry         date_time  \
26296  206.05  221.85  205.70  218.25  21700 2017-04-13  04/07/2017 09:15
23235  266.00  277.60  266.00  271.70  21300 2017-04-13  04/07/2017 09:15
23362   51.40   54.15   40.00   46.85  21300 2017-04-13  04/07/2017 09:15
20962    6.00    6.60    3.50    3.50  20700 2017-04-13  04/07/2017 09:15
27030  290.20  290.20  279.60  279.60  21800 2017-04-13  04/07/2017 09:15
...       ...     ...     ...     ...    ...        ...               ...
24415  108.70  108.70  108.70  108.70  21400 2017-04-13  04/07/2017 15:30
24039  127.00  127.00  127.00  127.00  21400 2017-04-13  04/07/2017 15:30
29156    0.75    0.75    0.75    0.75  22400 2017-04-13  04/07/2017 15:30
25167  157.10  158.00  157.10  158.00  21500 2017-04-13  04/07/2017 15:30
25543   46.55   46.55   46.55   46.55  21600 2017-04-13  04/07/2017 15:30

        dte
26296 -82.0
23235 -82.0
23362 -82.0
20962 -82.0
27030 -82.0
...     ...
24415 -82.0
24039 -82.0
29156 -82.0
25167 -82.0
25543 -82.0

[8955 rows x 8 columns]